mmengine
mmcv==2.1.0
mmdet
lightning==1.9
hydra-core
numba==0.58.1
scikit-image==0.21.0
einops
yacs
fvcore
openxlab==0.0.34
mmsegmentation
mmdet3d
spconv-cu113
gsplat
ftfy
regex
numpy==1.23.5
vtk==9.0.1
mayavi==4.7.3
xvfbwrapper
pyqt5